profiles {
    test {
        params {
            reads1 = "data/test_1.fastq.gz"
            reads2 = "data/test_2.fastq.gz"
        }

        process {
            withName: fastp {
                cpus = 2
            }
            withName: spades {
                cpus = 4
            }
            withName: seqkit_stats {
                cpus = 1
            }
        }

        conda {
            enabled = true
        }
    }
}
